# Logs
logs
*.log
npm-debug.log*

# yarn
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn-integrity
.pnp.*
.yarn/*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Next.js build output
build/
.next
out

# Dependency directories
node_modules/
jspm_packages/
.npm

# dotenv environment variable files
.env
.env.*
!.env.example

# cache directory
dist
.temp
.cache

# Obsidian
.obsidian
